button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

.favorite {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  src: 'http://imgur.com/I0EwG.png'
}