<div class="jumbotron">
  <h1>The Resource Repository</h1>
  <p>A searchable repository of links to learning resources at DBC.</p>
  <p><%= link_to "Login", login_path, :class => "btn btn-primary btn-lg" %> or <%= link_to "Sign Up", new_user_path, :class => "btn btn-primary btn-lg" %></p>
</div>
